[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "==3.3"
nikola = {extras = ["extras"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
